<div class="p-6">
  <div class="mb-4 flex justify-between items-center">
    <h2 class="text-3xl font-bold text-gray-800">Branches</h2>
    <p-button label="Add Branch" icon="pi pi-plus" severity="success" />
  </div>
  
  <div *ngIf="loading" class="text-center p-8">
    <i class="pi pi-spin pi-spinner text-4xl text-blue-500"></i>
    <p class="mt-2 text-gray-600">Loading branches...</p>
  </div>

  <div *ngIf="!loading && branches.length === 0" class="text-center p-8 bg-gray-50 rounded-lg">
    <i class="pi pi-inbox text-6xl text-gray-400"></i>
    <p class="mt-4 text-gray-600">No branches found</p>
  </div>

  <p-table 
    *ngIf="!loading && branches.length > 0"
    [value]="branches" 
    [paginator]="true" 
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [tableStyle]="{ 'min-width': '60rem' }"
    styleClass="p-datatable-striped">
    
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Manager</th>
        <th style="width: 150px">Actions</th>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-branch>
      <tr>
        <td>{{ branch.id }}</td>
        <td class="font-mono font-semibold">{{ branch.code }}</td>
        <td class="font-semibold">{{ branch.name }}</td>
        <td>{{ branch.address }}</td>
        <td>{{ branch.phone }}</td>
        <td>{{ branch.manager }}</td>
        <td class="text-center">
          <p-button icon="pi pi-pencil" [text]="true" [rounded]="true" severity="info" size="small" class="mr-2" pTooltip="Edit" />
          <p-button icon="pi pi-trash" [text]="true" [rounded]="true" severity="danger" size="small" pTooltip="Delete" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>